@font-face  {
    font-family: pokemon-gp;
    src: url('pokemon-gb.ttf');
}

@font-face  {
    font-family: opensans-regular;
    src: url('OpenSans-Regular.ttf');
}

body{
    background-image: url("https://static.wikia.nocookie.net/pokemon/images/5/5b/Vermilion_Forest.jpeg/revision/latest?cb=20200819171208");
}

form {
    width: 300px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
}

.poke-card{
    position: relative;
    height: fit-content;
    max-width: 300px;
    font-family: pokemon-gp;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
}

.pokeImg{
    background-color: #FFF;
    transition-duration: 0.5s;
}
.pokeImg:hover{
    box-shadow: 0px 5px 20px rgb(176, 228, 216);
    transition-duration: 1s;
    border-radius: 5px;
}
.poke-card {
    position: relative;
    height: fit-content;
    font-family: pokemon-gp;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid black;
    transition-duration: 1s;
}

.poke-card:hover {
    box-shadow: 0px 10px 20px rgb(0, 104, 81);
    transition-duration: 1s;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.button1 {
    border-radius: 5px;
    padding: 12px 28px;
    font-family: pokemon-gp;
    cursor: pointer;
    transition-duration: 0.5s;
}
.button1:hover {
    background-color: rgb(223, 3, 3);
    color: #FFF;
    transition-property: all;
    transition-duration: 0.5s;
}

input{
    font-size: 10px;
    font-family: pokemon-gp;
    color: #FFF;
    border-radius: 5px;
    background-color: rgb(54, 187, 154, 0.5);
}

.dialog{
    visibility: hidden;
}
figure:hover > .dialog{
    visibility: visible;
    transition-duration: 1s;
}
footer{
    bottom: 0;
    margin-left: -10px;
    margin-bottom: -10px;
    width: 101.3%;
    height: 100px;
    background-color: rgb(36, 122, 101);
    box-shadow: 5px 0px 20px rgb(6, 53, 43);
    color: #FFF;
    font-family: opensans-regular;
}